.step.step-last.step-active
	.step__head
		.step__num.step__num--complete
			img.step__completeicon(src="img/svg/icon-check.svg", alt="check")
		h6.step__name Заявление принято
	.step__body.step__body--complete
		.step__inner.step__inner--complete
			.complete
				.complete__textbox 
					p.complete__text Номер заявления #[b RU-1234567]. Максимальный срок предоставления услуги — 20 рабочих дней. Следите за статусом заявления в #[a(href="#") Личном кабинете]. 
					p.complete__text Если у вас остались вопросы по оказанию услуги, пожалуйста, обращайтесь по телефону +7 (342) 123-45-67.
				.complete__buttons 
					a(href="#").button.button-blue Вернуться в каталог
					a(href="#").button.button-transparent Перейти в личный кабинет