section.present 
  .present__box 
    .present__titlebox
      h1.present__title Выдача градостроительного плана земельного участка
      p.present__text Градостроительный план земельного участка выдается в целях обеспечения субъектов градостроительной деятельности информацией, необходимой для #[br] архитектурно-строительного проектирования, строительства, реконструкции объектов капитального строительства в границах земельного участка.
    .executor 
      img.executor__img(src="img/svg/gerb.svg", alt="gerb")
      p.executor__text Услугу предоставляет
      p.executor__text.executor__text--bold Орган местного самоуправления