
@font-face {
	font-family: 'SF-Pro-Display-Bold';
	src: url('../fonts/SFPro/SF-Pro-Display-Bold.otf');
}
@font-face {
	font-family: 'SF-Pro-Display-Regular';
	src: url('../fonts/SFPro/SF-Pro-Display-Regular.otf');
}

@font-face {
	font-family: 'GOST-UI-2';
	src: url('../fonts/GOST/GOST-UI-2.eot'),
		url('../fonts/GOST/GOST-UI-2.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GOST/GOST-UI-2.woff2') format('woff2'),
		url('../fonts/GOST/GOST-UI-2.woff') format('woff'),
		url('../fonts/GOST/GOST-UI-2.ttf') format('truetype');
}
@font-face {
	font-family: 'GOST-UI-2-Bold';
	src: url('../fonts/GOST/GOST-UI-2-Bold.eot'),
		url('../fonts/GOST/GOST-UI-2-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GOST/GOST-UI-2-Bold.woff2') format('woff2'),
		url('../fonts/GOST/GOST-UI-2-Bold.woff') format('woff'),
		url('../fonts/GOST/GOST-UI-2-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'GOST-UI-2-Medium';
	src: url('../fonts/GOST/GOST-UI-2-Medium.eot'),
		url('../fonts/GOST/GOST-UI-2-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GOST/GOST-UI-2-Medium.woff2') format('woff2'),
		url('../fonts/GOST/GOST-UI-2-Medium.woff') format('woff'),
		url('../fonts/GOST/GOST-UI-2-Medium.ttf') format('truetype');
}