$gostReg: 'GOST-UI-2';
$gostMed: 'GOST-UI-2-Medium';
$gostBold: 'GOST-UI-2-Bold';
$sfBold: 'SF-Pro-Display-Bold';
$sfReg: 'SF-Pro-Display-Regular';

$bg: #F4F7FB;
$white: #FFF;
$sky: #3684E2;
$blue: #0061D9;
$darkBlue: #024AA4;
$darkBlue2: #0050B2;
$text: #3B4256;
$grey: #BCC3CA;
$lightGrey: #F5F5F7;
$lightOrange: #FFF5E5;
$green: #1BC400; 
