<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Reactive Test
	body
		
		include ./../sections/_header.pug

		main#app.main
			.container 
				include ./../sections/_present.pug

				section.request 
					form(action="#")
						.step-box
							include ./../sections/_step1.pug
							include ./../sections/_step2.pug
							include ./../sections/_step3.pug
						include ./../sections/_complete.pug

		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug